*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    height: 100vh;
    background-color: #000115;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: none; */
}

.cursor{
    z-index: 999;
    position: fixed;
    background-color: #2696E8;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8
                0 0 60px #2696E8
                0 0 100px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
}

@keyframes colors {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
}

.cursor:before{
    content: '';
    position: absolute;
    background-color: #2696E8;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    border-radius: 50%;
    transform: translate(-8px,-8px);
}